/* Estilo para o rodapé */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 5%;
    background-color: #A9373E;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Seção Esquerda - Destaque */
  .footer-left {
    flex: 1;
    text-align: left;
    
    
  }
  
  .footer-title {
  
    color: #F1EDD2;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: -15px;
    
  }
  
  .primeiraparte{
    font-family: 'Neufreit', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  .segundaparte{
    font-family: 'Plau', sans-serif;
    font-size: 2rem;
    font-weight: 900;
  }
  
  .footer-subtitle {
    font-family: 'Plau', sans-serif;
    font-size: 1.2rem;
    color: #F1EDD2;
    margin-top: -5x;
  }
  
  /* Seção Central - Desenvolvido por */
  .footer-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  
  .footer-dev {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  
  .footer-logo {
    height: 50px; /* Aumentado o tamanho */
    margin-bottom: 0.5rem;
    transition: transform 0.3s;
  }
  
  .footer-logo:hover {
    transform: scale(1.1);
  }
  
  .footer-dev-name {
    font-family: 'Roboto', sans-serif;
    color: #F1EDD2;
    font-size: 0.9rem;
  }
  
  /* Seção Direita - Ícones */
  .footer-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    margin-bottom: 20px;
  }
  
  .footer-icon {
    height: 30px;
    transition: transform 0.3s;
  }
  
  .footer-icon:hover {
    transform: scale(1.2);
  }
  
  /* Botão Voltar ao Topo */
  .button-to-top {
    position: fixed;
    bottom: 0; /* Alinhado na base */
    right: 20px; /* Posicionado à esquerda*/
    z-index: 1000;
    background: #EFB42B; /* Cor de fundo*/
    color: #F1EDD2; /* Cor do texto*/
    border: none;
    border-top-left-radius: 15px; /* Arredondar canto superior esquerdo*/
    border-top-right-radius: 15px; /* Arredondar canto superior direito*/
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2); /* Sombra na parte superior*/
    font-family: 'Neufreit', sans-serif;
    font-size: 20px;
    transition: all 0.3s ease;
  }
  
  .button-to-top.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .button-to-top:hover {
    background: #F1EDD2; /* Cor de fundo*/
    color: #A9373E; /* Cor do texto*/
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }
  
  .button-to-top div {
    line-height: 1.2;
    text-align: center;
  }
  
  .arrow {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #f5ebdc;
    border-right: 2px solid #f5ebdc;
    transform: rotate(-45deg);
    margin-left: 4px;
  }
  