.header {
    width: 100%;
    padding: 18px 36px;
    background-color: var(--cor1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .logo {
    height: 80px;
  }
  
  .voltar-topo {
    background-color: var(--cor3);
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .voltar-topo:hover {
    background-color: #c6911e;
  }
  